/* css comment (wite in css) */
.my-sass {
  color: #555;
  font-size: 26px;
}

.test_module {
  color: red;
}

/***** Variables *****/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 63px;
}

h3 {
  font-size: 54px;
}

.test-blue {
  color: #0000ff;
}

.test-primary {
  color: #353535;
}

/******* Nesting **********/
/*
  decendant selector
  selector1{
    selector2{
                        
    }
  }
  
  child selector
  selector1{
    > selector2{
                        
    }
  }

  sibling selector
  selector1{
    + selector2{
                        
    }
  }
  sibling selector
  selector1{
    ~ selector2{
                        
    }
  }

  parent selector &

  selector1{
    & + &{
                        
    }
    &:hover{
    }
  }
*/
.nav {
  padding: 8px;
  height: 40px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul a {
  display: block;
  text-decoration: none;
  color: #353535;
  background-color: #f1f1f1;
  line-height: 40px;
}

.nav ul a:hover {
  background-color: yellowgreen;
}

.nav > ul > li {
  float: left;
}

h2 + p {
  border-top: 1px solid gray;
}

p ~ span {
  opacity: 0.8;
}

p ~ a {
  color: gainsboro;
}

/************/
p ~ span {
  opacity: 0.8;
}

p ~ a {
  color: gainsboro;
}

.card-link {
  background-color: #fff;
}

.card-link + .card-link {
  margin-left: 10px;
}

/********** Color Functions *******/
.my-color {
  color: #33be72;
}

.my-color-1 {
  color: #33be7c;
}

.my-color-2 {
  color: #33be68;
}

.my-color-3 {
  color: #47be68;
}

.my-color-4 {
  color: rgba(71, 190, 104, 0.6);
}

.my-color-5 {
  color: #1d6e42;
}

.my-color-6 {
  color: #33be44;
}

.my-color-7 {
  color: #33641e;
}

.my-color-8 {
  color: #33be80;
}

.my-color-9 {
  color: #a4e6c2;
}

.my-color-10 {
  color: #13452a;
}

/******** Placeholders **********/
.btn, .card, .alert {
  border-radius: 6px;
}

.shadow, .card, .alert {
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.445);
          box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.445);
}

.btn {
  display: inline-block;
  padding: 8ps 16px;
}

.card {
  padding: 0.5em;
}

.alert {
  padding: 1em;
}

/******************/
.action-buttons, .reset-buttons, .cancel-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px rgba(53, 53, 53, 0.12) solid;
  padding: 16px 0;
  width: 100%;
  display: inline-block;
}

.action-buttons:hover, .reset-buttons:hover, .cancel-button:hover {
  border: 2px rgba(53, 53, 53, 0.5) solid;
}

.action-buttons + .action-buttons, .reset-buttons + .action-buttons, .cancel-button + .action-buttons, .action-buttons + .reset-buttons, .reset-buttons + .reset-buttons, .cancel-button + .reset-buttons, .action-buttons + .cancel-button, .reset-buttons + .cancel-button, .cancel-button + .cancel-button {
  margin-left: 10px;
}

.action-buttons {
  color: #4285f4;
}

.reset-buttons {
  color: #cddc39;
}

.cancel-button {
  color: #555;
}

/******************/
.class, .my-info {
  background-color: #cddc39;
  color: black;
}

#id, .my-info {
  border: 2px olive solid;
  margin-bottom: 20px;
}

div, .my-info {
  font-family: 'Courier New', Courier, monospace;
}

.my-info {
  padding: 20px;
}

/*******************/
p.info {
  background-color: #dee9fc;
}

.guide .info, .guide .content nav.sidebar, .content .guide nav.sidebar {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

.content nav.sidebar {
  padding-right: 20px;
}

/*********** Mixins ********/
.class1 {
  padding: 8px;
  border-radius: 6px;
}

.class2 {
  color: black;
  border-radius: 50%;
}

.class3 {
  font-size: 18px;
  padding: 0.5em;
  color: #0000ff;
}

.class4 {
  background-color: yellow;
  padding: 30px;
  color: #22afb9;
}

.class5 {
  background-color: #ee69e3;
  padding: 20px;
  color: #0000ff;
}

.class6 {
  background-color: #ee69e3;
  padding: 0.5em;
  color: red;
}

.class7 {
  background-color: #ee69e3;
  padding: 30px;
  color: red;
}

/******** sample ***/
.btn {
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 0.5em 1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.btn.btn-primary {
  background-color: #0000ff;
  color: white;
}

.btn.btn-primary:hover {
  background-color: #0000cc;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 255, 0.7);
          box-shadow: 0 0 2px 2px rgba(0, 0, 255, 0.7);
}

.btn.btn-primary:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

.btn.btn-danger {
  background-color: red;
  color: white;
}

.btn.btn-danger:hover {
  background-color: #cc0000;
  -webkit-box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.7);
          box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.7);
}

.btn.btn-danger:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

.btn.btn-warning {
  background-color: #e7d214;
  color: white;
}

.btn.btn-warning:hover {
  background-color: #b8a710;
  -webkit-box-shadow: 0 0 2px 2px rgba(231, 210, 20, 0.7);
          box-shadow: 0 0 2px 2px rgba(231, 210, 20, 0.7);
}

.btn.btn-warning:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}
/*# sourceMappingURL=style.css.map */